<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Auto Reload</title>
</head>
<body>
  <main>
    <div id="water" class="water">
      <h3 id="title">Status Water</h3>
      <h1 id="statusWater">Aman</h1>
    </div>
    <div id="wind" class="wind">
      <h3 id="title">Status Wind</h3>
      <h1 id="statusWind">Aman</h1>
    </div>
  </main>

  <script src="app.js"></script>
</body>
</html>